@define-color bg0 #1e1e2e;
@define-color bg1 #181825;
@define-color bg2 #11111b;
@define-color bg3 #313244;
@define-color bg4 #585b70;

@define-color red #f38ba8;
@define-color orange #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color aqua #89dceb;
@define-color blue #89b4fa;
@define-color purple #cba6f7;

@define-color fg #cdd6f4;

@define-color grey0 #585b70;
@define-color grey1 #6c7086;
@define-color grey3 #9ca0b0;
